
td.details-control {
    width: 30px;
    cursor: pointer;
}

.aside-dark .menu .menu-item .menu-link.active .menu-icon i,
.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-icon i,
.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-icon i {
    color: #ffffff !important;
}

.bg-dark {
    background-color: var(--primary)!important;
    background-image: var(--URL_BG)!important;
    background-attachment: fixed;
    background-size: cover;
}

.aside.aside-dark,
.aside.aside-dark .aside-logo,
.page-item.active .page-link,
.btn.btn-info {
    background-color: var(--primary) !important;
}

.btn-check:active+.btn.btn-info, .btn-check:checked+.btn.btn-info, .btn.btn-info.active, .btn.btn-info.show, 
.btn.btn-info:active:not(.btn-active), .btn.btn-info:focus:not(.btn-active), .btn.btn-info:hover:not(.btn-active), .show>.btn.btn-info{
    background-color: var(--primary) !important;
}
.aside-dark .menu .menu-item .menu-link .menu-title {
    color: #fafafa;
    font-weight: 100 !important;
}

.aside-dark .menu .menu-item .menu-link.active,
.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active), .aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active),
.btn-check:active+.btn.btn-light-info, .btn-check:checked+.btn.btn-light-info, .btn.btn-light-info.active, .btn.btn-light-info.show, .btn.btn-light-info:active:not(.btn-active), .btn.btn-light-info:focus:not(.btn-active), .btn.btn-light-info:hover:not(.btn-active), .show>.btn.btn-light-info,
.btn-check:active+.btn.btn-info, .btn-check:checked+.btn.btn-info, .btn.btn-info.active, .btn.btn-info.show, .btn.btn-info:active:not(.btn-active), .btn.btn-info:focus:not(.btn-active), .btn.btn-info:hover:not(.btn-active), .show>.btn.btn-info  {
    background-color: var(--primary);
    filter: brightness(108%);
}

.aside-dark .hover-scroll-overlay-y::-webkit-scrollbar-thumb {
    background-color: #c2c2c2 !important;
    opacity: 0.1!important;
}

.aside-dark .menu .menu-item .menu-section, .aside-dark .menu .menu-item .menu-link .menu-icon i  {
    color: #ffffff!important;
    font-weight: bold !important;
}

body{
    background-color: #fafafa !important;
}

.aside.aside-dark .separator {
    border-bottom-color: #ffffff;
}

.svg-icon.svg-icon-1 svg {
    height: 1.3rem!important;
    width: 1.3rem!important;
    color: #ffffff!important;
}

.page-link:hover,
.btn-check:active+.btn.btn-active-color-info, .btn-check:checked+.btn.btn-active-color-info, .btn.btn-active-color-info.active, .btn.btn-active-color-info.show, .btn.btn-active-color-info:active:not(.btn-active), .btn.btn-active-color-info:focus:not(.btn-active), .btn.btn-active-color-info:hover:not(.btn-active), .show>.btn.btn-active-color-info,
.btn-check:active+.btn.btn-active-light-info, .btn-check:checked+.btn.btn-active-light-info, .btn.btn-active-light-info.active, .btn.btn-active-light-info.show, .btn.btn-active-light-info:active:not(.btn-active), .btn.btn-active-light-info:focus:not(.btn-active), .btn.btn-active-light-info:hover:not(.btn-active), .show>.btn.btn-active-light-info,
.btn-check:active+.btn.btn-active-light-info i, .btn-check:checked+.btn.btn-active-light-info i, .btn.btn-active-light-info.active i, .btn.btn-active-light-info.show i, .btn.btn-active-light-info:active:not(.btn-active) i, .btn.btn-active-light-info:focus:not(.btn-active) i, .btn.btn-active-light-info:hover:not(.btn-active) i, .show>.btn.btn-active-light-info i {
    color: var(--primary)!important;
}

.page-link:hover {
    background-color: #f5f8fa;
}

.font-size-base {
    font-size: 1rem !important;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.55rem 0.75rem !important ;
    font-size: 0.925rem !important;
    line-height: 1.35 !important;
    border-radius: 0.42rem !important;
}

.font-weight-bold {
    font-weight: 500 !important;
}


.daterangepicker .ranges li.active {
    background-color: var(--primary);
    color: #fff;
    transition: color .2s ease,background-color .2s ease;
}

.daterangepicker .ranges li:hover {
    background-color: #fafafa;
    color: var(--primary);
    transition: color .2s ease,background-color .2s ease;
}
.daterangepicker .drp-calendar td.available:hover, .daterangepicker .drp-calendar th.available:hover {
    border-radius: .475rem;
    background-color: #fafafa;
    color: var(--primary);
}

.daterangepicker .drp-calendar td.active {
    background-color: var(--primary) !important;
    color: #fff!important;
    border-radius: .475rem;
}

.daterangepicker .drp-calendar td.in-range.available:not(.active):not(.off):not(.today) {
    background-color: #fafafa;
    color: var(--primary);
}

.daterangepicker .drp-calendar td.today, .daterangepicker .drp-calendar td.today.active {
    background: #fafafa!important;
    color: var(--primary) !important;
    border-radius: .475rem;
}

.daterangepicker .drp-calendar td:hover {
    color: var(--primary) !important;
}

.table tr{
    border: solid 1px #E9F0F6 !important;
}

.table .details tr{
    border: none !important;
    border-bottom-width: 1px !important;
    border-bottom-style: dashed !important;
    border-bottom-color: #eff2f5 !important;
}

.form-check.form-check-solid .form-check-input:checked {
    background-color: var(--primary) !important;
}

#kt_datatable_example_1_wrapper > .toolbar , .toolbar_ {
    float: right;
}

table.dataTable>thead>tr>td:not(.sorting_disabled), table.dataTable>thead>tr>th:not(.sorting_disabled) {
    padding-right: 10px !important;
}

.bg-info2 {
    background-color: var(--primary) !important;
}

.btn-bg-info{
    background-color: var(--primary) !important;
}
.btn.btn-light-info i, .btn.btn-light-info{
    color: var(--primary) !important;
}

.btn-check:active+.btn.btn-light-info, .btn-check:checked+.btn.btn-light-info, .btn.btn-light-info.active, .btn.btn-light-info.show, .btn.btn-light-info:active:not(.btn-active), .btn.btn-light-info:focus:not(.btn-active), .btn.btn-light-info:hover:not(.btn-active), .show>.btn.btn-light-info {
    color: #fff !important;
    border-color: var(--primary)!important;
    background-color: var(--primary)!important;
}

.btn-check:active+.btn.btn-light-info i, .btn-check:checked+.btn.btn-light-info i, .btn.btn-light-info.active i, .btn.btn-light-info.show i, .btn.btn-light-info:active:not(.btn-active) i, .btn.btn-light-info:focus:not(.btn-active) i, .btn.btn-light-info:hover:not(.btn-active) i, .show>.btn.btn-light-info i{
    color: #fff !important;
}